/*
common
*/

html,
body {
    height: 100%;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.header img {
    width: 60px;
}

.header h1 {
    padding-left: 10px;
}
/*
post
*/
@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 20px 10px;
    border: 1px solid #ccc;
}

input#button {
    width: 20%;
    background-color: rgb(29, 161, 242);
    color: white;
    border-radius: 10px;
    padding: 9px;
}

input#file {
    width: 45%;
    border: 0px;
    padding-top: 20px;
}

.banner {
    display: inline;
} 

a#cancel {
    text-decoration: none;
    border: 1px solid;
    background-color: grey;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.posts ul {
    padding: 0;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}
